<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiddemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

<!--    android:name="android.support.multidex.MultiDexApplication"-->
<!--    android:name="org.litepal.LitePalApplication"-->
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".studyjava.JavaUsageActivity"></activity>
        <activity android:name=".service.ServiceDemoActivity" />
        <activity android:name=".thread.ThreadDemoActivity" />
        <activity android:name=".permission.PermissionActivityDemo" />
        <activity android:name=".store.StoreActivity" />

        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.androiddemo.broadcast.jjtest" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcast.BroadcastDemoActivity" />
        <activity android:name=".widget.DemoFragmentAutoActivity" />
        <activity android:name=".widget.DemoFragmentActivity" />
        <activity android:name=".widget.RecycleViewActivityDemo" />
        <activity android:name=".widget.ListViewActivityDemo" />
        <activity android:name=".layout.FramelayoutActivityDemo" />
        <activity android:name=".layout.ConstraintslayoutActivityDemo" />
        <activity android:name=".layout.RelativelayoutActivityDemo" />
        <activity android:name=".layout.LinerlayoutActivityDemo" /> <!-- singleTop: 使用栈顶， singleTask, singleInstance -->
        <activity
            android:name=".intent.IntentDemoActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.androiddemo.IntentDemoActivity.action" />
                <action android:name="com.example.androiddemo.IntentDemoActivity.test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.WidgetDemo" />
        <activity android:name=".web.JJWebViewTest" />
        <activity android:name=".layout.LayoutDemo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="true" />
        
    </application>

</manifest>