<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".widget.ListViewActivityDemo"></activity>
        <activity android:name=".layout.FramelayoutActivityDemo" />
        <activity android:name=".layout.ConstraintslayoutActivityDemo" />
        <activity android:name=".layout.RelativelayoutActivityDemo" />
        <activity android:name=".layout.LinerlayoutActivityDemo" /> <!-- singleTop: 使用栈顶， singleTask, singleInstance -->
        <activity
            android:name=".intent.IntentDemoActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.androiddemo.IntentDemoActivity.action" />
                <action android:name="com.example.androiddemo.IntentDemoActivity.test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.WidgetDemo" />
        <activity android:name=".web.JJWebViewTest" />
        <activity android:name=".layout.LayoutDemo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>